/**
 * id = #
 * class = .
 */


body, button, textarea {
	background-color: black;
	font-size: 1.1em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", 
		     Helvetica, Arial, sans-serif;
	color: #222;
}

div {
	color: black;
	float: left;
	/*box-shadow: 5px 5px 5px .1px #6B6B6B; */
}

/* utilities */
.u-full-width {
	width: 100%;
	box-sizing: border-box; }
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; }
.u-pull-right {
	float: right; }
.u-pull-left {
	float: left;
}


/* tables */
th, td {
	border: none;
	background-color: black;
	padding: 0;
	text-align: center;
}

.button {
	outline: none;
	padding: 10px;
	border-radius: 1px;
	min-width: 80px;
	width: auto;
	border: none;
	color: white;
	background-color: black;
	float: left;
	transition-duration: 0.4s;
}

.button:hover, .button:focus {
	color: green;
}

#filemenu #editmenu #optionmenu {
	position: relative;
	display: inline-block;
}

#filedropdown #editdropdown #optiondropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}

.show {
	display: block;
}


#navigation {
	background: black;
	color: grey;
	min-height: 860px;
	min-width: 100px;
}

.textarea {
	padding: 20px;
	outline: none;
	border: none;
	color: grey;
	background: #2a2a2a;
	width: auto;
	min-height: 800px;
	min-width: 1200px;
	resize: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
