/**
 * id = #
 * class = .
 */


body {
	background-color: black;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", 
		     Helvetica, Arial, sans-serif;
	color: #222;
}

div {
	color: black;
	float: left;
	/*box-shadow: 5px 5px 5px .1px #6B6B6B; */
}

/* utilities */
.u-full-width {
	width: 100%;
	box-sizing: border-box; }
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; }
.u-pull-right {
	float: right; }
.u-pull-left {
	float: left;
}

/* clearing */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}


/* tables */
th, td {
	border: none;
	background-color: black;
	padding: 0;
	text-align: center;
}

.button {
	outline: none;
	padding: 10px;
	border-radius: 1px;
	min-width: 80px;
	width: auto;
	border: none;
	color: white;
	background-color: black;
	float: left;
	transition-duration: 0.4s;
}

.button:hover, .button:focus {
	color: green;
}


#navigation {
	background: black;
	color: grey;
	min-height: 860px;
	min-width: 100px;
}

.textarea {
	padding: 20px;
	outline: none;
	border: none;
	color: grey;
	background: #2a2a2a;
	width: auto;
	min-height: 860px;
	min-width: 1200px;
	resize: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

::-webkit-scrollbar-track {
	background-color: #b46868;
}

::-webkit-scrollbar-thumb {
	background-color: #b46868;
}

::-webkit-scrollbar-button {
	background-color: #b46868;
}

::-webkit-scrollbar-corner {
	background-color: #b46868;
}
